@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AEROPUERTO BAETTI MUSITANO</h1>
    <p class="lead">Usted está entrando al mejor examen final de sus vidas, abroche su cinturón y corrija con compasion.</p>
    <p><a href="https://www.kayak.com.ar/horizon/sem/flights/region/u10?lang=es&utm_campaign=aeropuertos+argentina&utm_content=BroadMatch+-+aeropuertos+argentina&utm_medium=cpc&utm_source=bing&utm_term=aeropuertos+argentina&skipapp=true" class="btn btn-primary btn-lg">CONOCÉ MÁS &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CLARA CAMILA BAETTI MUSITANO </h2>
        <p>
            <br />
            LEGAJO: 110816
            <br />
            AÑO REGULARIDAD: 2020
            <br />
            CURSO: 2W1
        </p>
        
    </div>
    
</div>